.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 350px;
    gap: 70px;
    padding: 0px 115px;
}

.about-container h2{
    font-family: 'Playfair Display';
    font-size: var(--headline2);
    font-weight: 500;
}

.about-textbox{
    display: flex;
    gap: 71px;    
}

.about-text{
    display:  flex;
    flex-direction: column;
    font-size: var(--headline4);
    gap: 70px;
    margin-top: 60px;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    opacity: 0;
}

.about-img {
    opacity: 0;
    transform: translateY(50px);    
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/*---------------------------------------------------*/
.about-show{
    opacity: 1;
    transform: translateY(0);
}

