.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 368px;
}

.contact-container h2{
    font-family: 'Playfair Display';
    font-size: var(--headline2);
    font-weight: 500;
}

.form-box{
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.form-box label{
    font-size: var(--headline3);
}

.input-underline{
    padding-left: 20px;
    font-size: var(--paragraph-medium);
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    color: var(--color-white);
    width: 855px;
    height: 40px;
    margin-bottom: 58px;
}

.input-underline-message{
    padding-left: 20px;
    font-size: var(--paragraph-medium);
    color: var(--color-white);
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    width: 855px;
    height: 187px;
    resize: none;   
    margin-bottom: 101px; 
}

.input-underline::placeholder{
    font-size: var(--paragraph-medium);
}

.input-underline-message::placeholder{
    font-size: var(--paragraph-medium);
    font-family: 'Inter';    
}

.form-box button{
    background-color: white;
    width: 187px;
    height: 72px;
    font-size: var(--button-text-big);
    font-weight: 700;
    transition: 0.3s ease;
}

.form-box button:hover{
    box-shadow: 0 0 5px 0 var(--color-white);
    transform: scale(1.05);
}

.input-underline:focus,
.input-underline-message:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s ease;
}