.testimonials-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top: 342px;
}

.testimonials-container p{
    width: 750px;
}

.testimonials-cards-container{
    display: flex;
    justify-content: center;
    gap: 54px;
}

.testimonials-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.testimonials-text h2{
    font-family: 'Playfair Display';
    font-size: 81px;
    font-weight: 500;
}

.testimonials-text p{
    font-size: 15px;
    text-align: center;
}

.testimonials-cards-horizontal{
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.testimonial-card-H{
    display: flex;
}

.card-text-H{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px 5px 10px 20px; 
    background-color: #181818;   
    height: 310px;
    width: 430px;
}

.card-text-H h3{
    font-size: 44px;
    width: 390px;
}

.card-text-H p{
    font-size: 15px;
    width: 290px;
}

.card-text-H img{
    width: 10%;
    align-items: center;
}

.testimonial-card-V{
    width: 327px;
}

.card-text-V{
    display: flex;
    flex-direction: column;
    width: 327px;
    height: 362px;
    background-color: #181818;
    gap: 20px;
    padding: 21px 29px 34px 20px;
}

.card-text-V h3{
    font-size: 38px;
    width: 250px;
}

.card-text-V p{
    font-size: 15px;
    width: 220px;
}

.button-card{
    position: relative;
    width: 150px;
    height: 21px;
    background-color: transparent;
    color: white;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-card::after{
    content:  '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--color-white);
    transition: width 0.3s ease;
}

.button-card:hover::after{
    width: 100%;
}

.testimonial-button{
    width: 221px;
    height: 77px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 21px;
    font-weight: bold;
    transition: 0.3s ease;
}

.testimonial-button:hover{
    box-shadow: 0 0 15px 2px white;
    transform: scale(1.05)
}

/*---------------------------------------------------*/
.testimonial-hidden{
    opacity: 0;
    transform: translateX(0);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-left{
    animation: fadeLeft 0.8s forwards;
}

.fade-right{
    animation: fadeRight 0.8s forwards;
}

.fade-bottom{
    animation: fadeBottom 0.8s forwards;
}

@keyframes fadeLeft{
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fadeRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeBottom{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
